<form (ngSubmit)="onSubmit()">
    <label>Card number: {{cardNum}}</label> 

    <br> <br>

    <label for="pinNum">Pin Number:   </label> 
    <input 
    type="number" 
    id="pinNum" 
    name="pinNum" [(ngModel)]="pinNum"
    /> 
    <br> <br>

    <label for="confirmPinNum">Pin Number:   </label> 
    <input 
    type="number" 
    id="confirmPinNum" 
    name="confirmPinNum" [(ngModel)]="confirmPinNum"
    /> 
    <br> <br>

    <input type="submit" value="Register" class="btn block"/>

    <br><br>
</form>
