<div class="stack-top">
    <div class="roof symbol-position stack-top"></div>

    <div class="col-end col-top col-outer1 symbol-position symbol-color stack-top"></div>
    <div class="col-base col-top col-inner1 symbol-position symbol-color stack-top"></div>
    <div class="col-end col-bottum col-outer1 symbol-position symbol-color stack-top"></div>

    <div class="col-end col-top col-outer2 symbol-position symbol-color stack-top"></div>
    <div class="col-base col-top col-inner2 symbol-position symbol-color stack-top"></div>
    <div class="col-end col-bottum col-outer2 symbol-position symbol-color stack-top"></div>

    <div class="col-end col-top col-outer3 symbol-position symbol-color stack-top"></div>
    <div class="col-base col-top col-inner3 symbol-position symbol-color stack-top"></div>
    <div class="col-end col-bottum col-outer3 symbol-position symbol-color stack-top"></div>

    <div class="col-end col-top col-outer4 symbol-position symbol-color stack-top"></div>
    <div class="col-base col-top col-inner4 symbol-position symbol-color stack-top"></div>
    <div class="col-end col-bottum col-outer4 symbol-position symbol-color stack-top"></div>

    <div class="floor symbol-position symbol-color stack-top"></div>
    <label class="header"> {{ name }}</label>
</div>

    

