
<form (ngSubmit)="onSubmit()">
    <label for="cardNum">Card Number:   </label> 
    <input 
    type="number" 
    id="cardNum" 
    name="cardNum" [(ngModel)]="cardNum"
    /> 
    <br> <br>

    <label for="pinNum">Pin Number:   </label> 
    <input 
    type="number" 
    id="pinNum" 
    name="pinNum" [(ngModel)]="pinNum"
    /> 
    <br> <br>

    <input type="submit" value="Confirm" class="btn block"/>

    <br><br>
</form>
<div>
    <a routerLink="/Register">Don't have an account? Register here</a>
</div>